$black: #000;

body {
	font-family: 'Public Sans', sans-serif;
	font-size: 17px;
	background-color: #e5e5e5;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	font-weight: 600;
}

@media (min-width: 768px) {
	.h3 {
		font-size: 36px;
	}

	h4 {
		font-size: 22px;
	}
}

img {
	max-width: 100%;
}

.form-control {
	background-color: transparent;
	border: 1px solid #000;
}

.header {
	background-color: #000;
	color: #fff;
	border-bottom: 1px solid #979797;
	font-size: 17px;
	font-family: 'Inter', sans-serif;

	.search-form {
		color: #fff;

		.input-group-text {
			color: #fff;
			background-color: transparent;
			border: 0 none;
		}

		.form-control {
			background-color: transparent;
			border: 0 none;
			padding-left: 0;

			&::placeholder {
				color: #979797;
			}
		}
	}
}

.navbar-brand {
	font-weight: bold;
}

.navbar {
	background-color: transparent;
	color: #fff;

	.navbar-nav {
		.nav-link {
			padding-left: 17px;
			padding-right: 17px;
			color: #fff;
		}
	}
}

.banner {
	background-color: #000;
	color: #fff;
	padding: 47px 0;
}

.nav-filter {
	.nav-item {
		margin-right: 9px;
	}

	.nav-link {
		border: 1px solid #000;
		border-radius: 0;
		background-color: #fff;
		color: #000;

		&.active,
		&:hover {
			background-color: $black;
			color: #fff;
		}

	}
}

.filter-sort-wrap {
	font-size: 13px;

	.filter-sort {
		border: 1px solid $black;
		padding-left: 12px;
		margin-bottom: 14px;

		span {
			opacity: 0.5;
		}

		.btn {
			background-color: transparent;
			border-radius: 0;
			font-size: 14px;
			border: 0 none;
		}
	}
}

.btn {
	border-radius: 0;
}
.form-control {
	border-radius: 0;
}
.product {
	display: block;
	color: inherit;
	text-decoration: none;

	img {
		margin-bottom: 12px;
	}

	h3 {
		font-size: 17px;
		font-weight: bold;
	}
}

.btn-black {
	background-color: #000;
	border: 1px solid #000;
	color: #fff;

	&:hover {
		// background-color: #fff;
		color: #000;
		border: 1px solid #000;
	}
}

select.form-control {
	appearance: auto;
}

.cart-list {
	.cart-item {		
		padding-bottom: 16px;
		padding-top: 16px;

		&:not(:last-child) {
			border-bottom: 1px solid #909090;
		}
	}
}

.cart-item {
	display: flex;
	align-items: flex-start;	

	h4 {
		font-size: 22px;
	}

	h5 {
		font-size: 22px;
	}

	p {
		font-size: 14px;
		margin-bottom: 7px;
	}

	img {
		width: 130px;
		margin-right: 12px;
	}
}

.cart-item-details {
	width: 100%;
}

